body, html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner2.png");
    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

header {
    text-align: center;
    font-size: 100px;
}
body {
    font-family: 'Spinnaker', sans-serif;
    background-color: white;


}

#content img {
    position: absolute;
    top: 0px;
    left: 0px;
}

a {
    color: red;
}

a:hover {
    color: red;
}

#tag-line h1 {
    position: absolute;
    text-align: center;
}

banner {
    font-size: 1.5rem;
}

#learnmore center {
    text-align: right;
}

h5 {
    color: gray;
}

#countdown p {
    text-align: center;
    position: absolute;
}

.button1 {
    border-radius: 12px;
    padding: 12px 28px;
    font-size: 16px;
    background-color: #f44336;
    text-align: center;
    text-decoration: none;
    color: white;
}

.button1:hover {
    background-color: green;
}

#specs3 h2 {
    text-align: center;
    align-items: center;
    align-content: center;

}

#specs0 h2 {
    text-align: center;
    align-items: center;
    align-content: center;

}

.button2 {
    border-radius: 16px;
    padding: 16px 60px;
    font-size: 16px;
    background-color: #f44336;
    text-align: center;
    text-decoration: none;
    color: white;
}

.button2:hover {
    background-color: green;
}